<body>
    <app-header></app-header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 align-self-center">
                <img src="" alt="">
            </div>
            <div class="col-4 align-self-center">
                <h1 class="info">Usuario!</h1>
                <p class="info">Email@ejemplo.com</p>
                <p class="info">Nombre de usuairo</p>
                <p class="info">Apellido de usuairo</p>
                <p class="info">Puntuacion Total</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 align-self-start ">
                <h4 class="cuenta">Cuenta</h4>
                <p class="cuenta">Usuario</p>
                <p class="cuenta">Email</p>
                <p class="cuenta">Password</p>
                <P class="cuenta">Nombre</P>
                <p class="cuenta">Apellido</p>
            </div>
            <div class="col-4 align-self-start mt-4">
                <form action="">
                        <br>
                        <p><input type="text"></p>
                        <p><input type="email"></p>
                        <p><input type="password"></p>
                        <p><input type="text"></p>
                        <p><input type="text"></p>
                </form>
            </div>
        </div>
        <div class="row justify-content-end mt-5" >
            <div class="col-10 ">
                <input type="submit" value="Cambiar">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
