<body>
    <app-header></app-header>

    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-auto ">
                <h1 class="text-white">Tabla de Puntuacion</h1>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active" >
                        <div class="centrar">
                            <p>Español</p>
                        </div>
                    </div>
                    <div class="carousel-item " >
                        <div class="centrar">
                            <p>Matematicas</p> 
                        </div>
                    </div>
                    <div class="carousel-item " >
                        <div class="centrar">
                            <p>Sociales</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <table class="table table-light table-hover text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Puntuacion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>98</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td >Larry the Bird</td>
                            <td >65</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Otto</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td >Thornton</td>
                            <td >57</td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>

  <!-- footer -->
    <app-footer></app-footer>
</body>