<body>
    <app-header></app-header>

    <!--content-->

    <div class="container-md">
        <div class="row justify-content-around">
            <div class="col-auto">
                    <a href="#" class="btn"> 
                        <span ></span>
                        <span ></span>
                        <span ></span>
                        <span ></span>
                        Matematicas
                    </a>
            </div>
            <div class="col-auto">
                <a href="#" class="btn"> 
                    <span ></span>
                    <span ></span>
                    <span ></span>
                    <span ></span>
                    Español
                </a>
            </div>
            <div class="col-auto">
                <a href="#" class="btn"> 
                    <span ></span>
                    <span ></span>
                    <span ></span>
                    <span ></span>
                    Sociales
                </a>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</body>