
  <!-- footer -->
  <footer>
    <div class="footer-con container">
      <h2>Nombre del Juego</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim vitae voluptate laborum praesentium inventore et iure</p>
        <ul class="menu-footer">
          <li >
            <a href="index">Inicio</a>
          </li>
          <li >
            <a href="menu">Menu</a>
          </li>
          <li >
            <a  href="score">Puntuacion</a>
          </li>
          <li>
            <a  href="login">Iniciar Sesion</a>
          </li>
        </ul>
    </div>
    <div class="footer-bottom">
      <p>Copyritght &copy;2021 Nombre del Juego. Designed by <span>Hot&Ship</span></p>
    </div>
  </footer>
