<body>
  <app-header></app-header>
  <!-- content -->

    <!--grid -->

    <main class=" container">
      <div class="row ">
        <div class="frase col-lg">
            <p>No puedo enseñar nada a nadie, solo puedo hacerles</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg animate-bg sometext ">
            <p class="pensar"></p>
        </div> 
      </div>
      <div class="row">
        <div class="col-lg">
            <a href="menu" class="btn"> 
                <span ></span>
                <span ></span>
                <span ></span>
                <span ></span>
                Empezar Juego
            </a>
        </div>
      </div>
    </main>

    <app-footer></app-footer>
</body>